/* NAVBAR */

.myHeader {
    background-color: rgb(126, 83, 34);
    color: white;
}

.navbar-nav a:hover {
    color: white !important;
}

/* FORM */

form {
    background: white;
}

.formContainer {
    border-radius: 8px;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: rgb(126, 83, 34, 0.75);
    padding-bottom: 10px;
}

.HomeIcon {
    width: 25px;
    margin: 0px 3px 5px 0;
}

.text-muted>b>a {
    color: gray;
    text-decoration: underline;
}

/* USER PAGE */

.accountBg {
    background-color: #D0B392;
    color: #707070;
    font-size: 16px;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1;
}

.accountData {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: none;
}

.accountData a:link {
    text-decoration: none;
    color: #707070;
}

.accountData a:visited {
    text-decoration: none;
    color: #707070;
}

.userBg {
    background-color: #FFFFFF;
    border: 1px solid white;
    border-radius: 10px;
    position: fixed;
    margin-top: 250px;
    margin-bottom: 50px;
    /*z-index: -1;*/
}

.dataTable>thead>tr>td {
    border-top: none;
}

.dataTable th {
    font-weight: bolder;
    vertical-align: middle !important;
    padding-left: 20px !important;
    /* 分散對齊 */
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
}

.dataTable td {
    color: #707070;
    padding-left: 20px !important;
}

.table.table-borderless td {
    border: 0 !important;
}

/* SEARCH PAGE */

.searchTitle>thead>tr>th {
    color: black;
    font-size: 20px !important;
}

.searchTitle>tbody>tr>td {
    text-align: center;
    font-size: 16px
}

.searchCondition {
    /* width: 50%; */
    /* background-color: #D0B392; */
    vertical-align: center;
}

.ellipsis {
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}

.imageSize {
    width: 180px;
    height: 120px;
    border-radius: 5px;
}

.houseName {
    font-size: 20px;
    color: #726A6A;
}

.houseInfo {
    color: #726A6A;
}

.housePrice {
    color: #726A6A;
    font-size: 25px;
    font-weight: bold;
}

.append {
    margin-top: 20px;
}

.backToTop {
    display: none;
    position: fixed;
    bottom: 8px;
    right: 5px;
    outline: none !important;
    border:none !important;
    border-radius: 25px !important;
    background-color: rgba(126, 83, 34, 0.85) !important;
    font-size: 25px;
}

/* INPUT */

.inputSearch {
    padding: 3px 15px;
    margin-bottom: 10px;
}

/* BUTTON */

.btnGo {
    color: white !important;
    background-color: rgb(126, 83, 34, 0.85) !important;
    /* font-weight: bold !important; */
}

/* FOOTER */

.footer {
    background-color: rgb(126, 83, 34);
    color: white;
    font-size: 23px;
    width: 100%;
    height: 50px;
    left: 0;
    padding: 10px;
}

.footer a {
    text-decoration: none;
}

.footer a:link {
    text-decoration: none;
    color: white;
}

.footer a:visited {
    text-decoration: none;
    color: white;
}

.myBody {
    min-height: calc(100vh - 50px);
}